/* Service Card */

.service-card {
	background-color: var(--col2);
	border-radius: 7px;
	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
	margin: 0 21px 35px 21px;
	padding: 16px 24px;
	text-align: center;
}

@media screen and (min-width: 454px) {
	.div-sc {
		flex-direction: row;
	}
    
    .service-card {
		width: 40%;
	}
}

@media screen and (max-width: 453px) {
    .div-sc {
		flex-direction: column;
	}
    
	.service-card {
		width: 63%;
	}
}

.service-card:hover {
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    margin: -5px 21px 40px 21px;
	transition-duration: 0.5s;
}

/* Design Card */

.design-card {
    border-radius: 12px;
    display: flex;
    margin: 0 24px;
    width: 270px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.design-card img {
    border-radius: 12px;
    width: 100%;
}

.design-card p {
    color: var(--col4);
}


/* Web Card */

.web-card {
    background-color: var(--col5);
    border-radius: 12px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    padding: 7px 12px 24px 12px;
}

.web-card:hover {
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
	transition-duration: 0.5s;
}

.web-card img {
    height: 120px;
    width: auto;
}

/* Course Card ................ */

.course-card {
    background-color: var(--col7);
    color: var(--col5);
    border-radius: 16px;
    padding: 0 0 8px 0;
    margin-bottom: 40px;
}

.course-card img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}

.course-card h4 {
    margin-bottom: 5px;
}

.course-card .small {
    border-radius: 5px;
    background-color: var(--col3);
    padding: 0 5px;
    width: max-content;
    letter-spacing: 1px;
}

/* Card 2 */

.card--2 {
    background-color: var(--col2);
	border-radius: 7px;
	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
	margin: 0 21px 35px 21px;
	padding: 16px 24px;
	text-align: center;
    width: 93%;
}

.card--2:hover {
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    margin: -5px 21px 40px 21px;
	transition-duration: 0.5s;
}

/* Card 3 */

.card--3 {
    background-color: var(--col7);
    color: var(--col5);
	border-radius: 12px;
	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
	padding: 24px 21px;
	text-align: center;
    width: 93%;
}

.card--3 h3 {
    color: var(--col1);
}

.card--3 small {
    font-family: var(--font1);
}

/* Card 4 */

.card--4 {
    background-color: var(--col7);
    color: var(--col5);
    border-radius: 12px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 35px;
    padding: 24px 12px;
}

.card--4 h3,
.card--4 p,
.card--4 h6 {
    text-align: center;
}

.card--4 h3,
.card--4 i.bi-file-image,
.card--4 h6 {
    color: var(--col1);
}

.card--4 p {
    font-weight: 500;
}

.card--4 .btn--2 {
    border-radius: 12px;
    padding: 5px 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}